<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Add a Card</title>
    <meta name="description" content="demo" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <style type="text/css">
      input.as_pass {
        -webkit-text-security: disc;
      }
    </style>
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        <div class="sr-payment-form card">
          {% if created_card %}
            <pre style="font-size: 15px;">
              {{jsonfile}}
            </pre>
          {% elif errors %}
            {{errors}}
          {% else %}
            <center><h2>Add Card</h2></center>
            <form method="POST">
            <input type="text" name="email" placeholder="Email" required="true">
            <input type="text" name="number" placeholder="Card number" required="true">
            <input type="text" name="exp_month" placeholder="Exp month" required="true">
            <input class="as_pass" type="text" name="exp_year" placeholder="Exp year" required="true">
            <input class="as_pass" type="text" name="cvc" placeholder="CVC" required="true">
            <input type="text" name="address_zip" placeholder="Postal code" required="true">
            <input type="text" name="address_line1" placeholder="Address 1" required="true">

            <input type="text" name="address_line2" placeholder="Address 2 ( Optional )">
            <input type="text" name="address_city" placeholder="City">
            <input type="text" name="address_state" placeholder="State ( Optional )">
            <input type="text" name="address_country" placeholder="Country">

            <button>Submit</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
